.documentation {
  display: grid;
  grid-template-columns: auto 1fr;
}

.installation-container {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  text-align: left;
  margin-right: 2rem;
}
