.components-list {
  list-style: none;
  padding: 2rem 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.5rem;
}

.components-list li {
  border-radius: 5px;
  background-color: var(--secondary-color);
  text-align: center;
  padding: 1rem;
  color: var(--primary-dark);
  font-weight: bold;
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out;
}

.navlink {
  text-decoration: none;
}

.components-list li:hover {
  background-color: var(--primary-dark);
  color: var(--white-color);
}

@media (max-width: 800px) {
  .components-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .components-list {
    grid-template-columns: repeat(1, 1fr);
  }
}