.avatar {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  padding: 15px 0;
  object-fit: cover;
}

.avatar-lg {
  font-size: 3rem;
  height: 6rem;
  position: relative;
  width: 6rem;
}

.avatar-md {
  font-size: 2rem;
  height: 4rem;
  position: relative;
  width: 4rem;
}

.avatar-sm {
  font-size: 1.5rem;
  height: 3rem;
  position: relative;
  width: 3rem;
}

.avatar-xs {
  font-size: 1rem;
  height: 2rem;
  position: relative;
  width: 2rem;
}

.avatar-initials {
  border-radius: 50%;
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  font-weight: bold;
}

.avatar-fallback {
  border-radius: 50%;
  color: var(--white-color);
  background-color: var(--lightgrey-color);
}
