@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css";

.App {
  text-align: center;
}

:root {
  --primary-color: #42a5f5;
  --primary-dark: #1976d2;
  --secondary-color: #bfdbfe;
  --white-color: #ffffff;
  --black-color: #000000;
  --grey-color: #9ca3af;
  --lightgrey-color: #dadbdc;
  --offwhite-color: #faf9f9;
  --error-bg-color: #fad7d2;
  --error-color: #e01006;
  --info-bg-color: #afcdf5;
  --info-color: #2236b5;
  --success-bg-color: #92fdbf;
  --success-color: #157a00;
  --warning-bg-color: #fcea88;
  --warning-color: #836f00;
  --offline-badge-color: red;
  --online-badge-color: green;
  --away-badge-color: #d6d616;
}
